.section{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);

    &__title{
      font-size: var(--third-text-font-size);
      line-height: 2.25rem;
      
      @include desktop{
        font-size: var(--four-text-font-size);
        line-height: 3rem;
      }

      &--primary{
        text-align: center;
        color:var(--primary-p-color);
      }

      &--secondary{
        text-align: left;
        color:var(--primary-p-color);
      }

      &--third{
        text-align: center;
        color:var(--primary-text-color);
        font-weight: 700;
      }

      &--fourt{
        text-align: center;
        color:var(--primary-text-color);
        font-weight: 500;
      }
    }

    &__description{
        font-size: var(--primary-p-font-size);
        color:var(--primary-p-color);
        text-align: justify;
        line-height: 1.125rem;
        @include desktop{
          font-size: var(--secondary-p-font-size);
          line-height: 1.375rem;
        }

        &--primary{
          text-align: justify;
        }

        &--secondary{
          text-align: center;
        }
    }

    &__text{
      font-size: var(--fifth-text-font-size);
      line-height: 1.5rem;
      color: var(--primary-text-color);

      @include desktop{
        font-size: var(--third-text-font-size);
        line-height: 2.25rem;
      }

    }

    &__p{
      font-size: 1.25rem;
      @include desktop{
        font-size: 1.625rem;
      }
    }

    &__title, &__description{
      margin: 0;
    }

    &__text, &__p{
      text-align: center;
      margin: 0;
    }

    &__img{
      width: 100%;
      max-width: 450px;
    }

  }
   
  .container {
    max-width: auto;
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    
    @include desktop{
      padding-left: var(--padding-responsive);
      padding-right: var(--padding-responsive);
    }
  }
  
  .f-elements{
    display: flex;

    &--between{
        align-items: center;
        justify-content: space-between;
    }
      
    &--center{
        align-items: center;
        justify-content: center;
    }

    &--end{
      align-items: center;
      justify-content: end;
    }
    
    &--responsive{
        flex-direction: column;

        @include desktop{
          flex-direction: row;
        }
    }

  }
  
  
  
  .g-elements{
    display: grid;

    &--responsive{
        grid-template-columns: 100%;

        @include desktop{
          grid-template-columns: 1fr 1fr;
        }
    }

    &--center{
        align-items: center;
        justify-content: center;
        justify-items: center;
      }

  }
  
  .g-template-columns{
    @include desktop{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
